.wp-block-tabor-appearance-toggle__label {
	margin: 0;
	display: flex;
	align-items: center;
}

.wp-block-tabor-appearance-toggle__input {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.is-large {
	.wp-block-tabor-appearance-toggle__track {
		height: 32px;
		padding: 0 6px;
		width: 46px;
	}

	.wp-block-tabor-appearance-toggle__selector {
		height: 22px;
		width: 22px;
	}

	.wp-block-tabor-appearance-toggle__icon,
	.wp-block-tabor-appearance-toggle__icon svg {
		width: 18px;
		height: 18px;
	}
}

.theme-dark .wp-block-tabor-appearance-toggle.is-large .wp-block-tabor-appearance-toggle__input + .wp-block-tabor-appearance-toggle__track .wp-block-tabor-appearance-toggle__selector {
	transform: translateX(24px) rotate(0);
}

.wp-block-tabor-appearance-toggle__track {
	cursor: pointer;
	display: flex;
	height: 28px;
	position: relative;
	width: 40px;
	align-items: center;
	padding: 0 4px;
	border-radius: 100px;
	transition: background-color var(--wp--custom--transition--duration, 200ms) ease-out, color var(--wp--custom--transition--duration, 200ms) ease-out;


	&:not(.has-background) {
		background: var(--wp--preset--color--theme-3);
	}

	&:not(.has-background):hover {
		background-color: var(--wp--preset--color--theme-4);
		color: var(--wp--preset--color--theme-6);
	}
}

.wp-block-tabor-appearance-toggle__selector {
	align-items: center;
	border-radius: 100%;
	height: 20px;
	transition: var(--wp--custom--transition--duration, 200ms);
	width: 20px;
	display: flex;
	justify-content: center;
	transition: transform 300ms cubic-bezier(0.215,0.61,0.355,1);
}

.wp-block-tabor-appearance-toggle__icon {
	opacity: 1;
	color: currentColor;
	transition: opacity 100ms cubic-bezier(0.215,0.61,0.355,1);
	position: absolute;
	will-change: transform, opacity;
	backface-visibility: hidden;
	border-radius: 100%;

	&,
	svg {
		width: 16px;
		height: 16px;
	}
}

.wp-block-tabor-appearance-toggle:not(.is-style-eye):not(.is-style-circle) .wp-block-tabor-appearance-toggle__icon--dark svg {
	transition: transform 300ms cubic-bezier(0.215,0.61,0.355,1);
}

.wp-block-tabor-appearance-toggle__icon--dark svg {
	transform: rotate(40deg);
}

.theme-dark .wp-block-tabor-appearance-toggle__input + .wp-block-tabor-appearance-toggle__track .wp-block-tabor-appearance-toggle__icon--dark svg {
	transform: rotate(0);
}

.theme-dark .wp-block-tabor-appearance-toggle__input + .wp-block-tabor-appearance-toggle__track .wp-block-tabor-appearance-toggle__selector {
	transform: translateX(20px) rotate(0);
}

.wp-block-tabor-appearance-toggle__icon--dark,
.theme-dark .wp-block-tabor-appearance-toggle__icon--light {
	opacity: 0;
}

.wp-block-tabor-appearance-toggle__icon--light,
.theme-dark .wp-block-tabor-appearance-toggle__icon--dark {
	opacity: 1;
}
